*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: black;
}


/* style navigation */

.preloader {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
}

.navHome {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    z-index: 100;
    width: 100vw;
    background-color: none;
    padding: 1vw;
}

.navHome img {
    width: 5vw;
    height: auto;
}

nav ul {
    display: flex;
    justify-content: space-around;
}

nav li {
    list-style-type: none;
    margin-right: 10px;
}

.navLink {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}

.navLink:hover {
    color: white;
    text-decoration: underline;
}

.ariane {
    color: white;
    margin-left: 1vw;
}

.arianePass {
    text-decoration: none;
    color: #666666;
}

.linkAriane {
    color: white;
    text-decoration: none;
    opacity: 0.5;
}

.linkAriane:hover {
    text-decoration: underline;
}

.container {
    color: white;
    top: 0;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100vw;
    height: 100vh;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 10;
}

.toMentions {
    color: white;
    position: absolute;
    z-index: 11;
    right: 5px;
    bottom: 5px;
}

.toMentions a {
    color: white;
    text-decoration: none;
    font-size: 0.7rem;
}

.toMentions a:hover {
    cursor: pointer;
    text-decoration: underline;
}

.linkMailMention {
    color: white
}

.title {
    font-size: 30px;
}

video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

.fade {
    width: 100vw;
    height: 20vh;
    position: absolute;
    z-index: 10;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0.705) 36%, rgba(0, 0, 0, 0) 100%);
}

.mentions {
    color: white;
    max-width: 60%;
    display: none;
}

.mentions p {
    color: #fff;
    font-size: 1rem;
}

.openMentions {
    display: block;
}


/* Page Projet */

.navProject {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    background-color: none;
    padding: 1vw;
}

.navProject img {
    width: 5vw;
    height: auto;
}

.navProject .navLink {
    color: white;
    text-decoration: none;
}

.navProject ul li a {
    color: white;
    text-decoration: none;
}

.domaine {
    color: white;
    margin-left: 2vw;
    width: 20vw;
    display: flex;
    justify-content: space-around;
}

.webLink {
    opacity: 1;
}

.webLink:hover {
    cursor: pointer;
}

.AudVisLink {
    opacity: 0.5;
}

.AudVisLink:hover {
    cursor: pointer;
}

.comLink {
    opacity: 0.5;
}

.comLink:hover {
    cursor: pointer;
}

.web {
    display: block;
}

.AudVis {
    display: none;
}

.com {
    display: none;
}

.projets {
    width: 90vw;
    margin-left: 5vw;
    display: flex;
    flex-direction: column;
}

.descProject {
    width: 100%;
    display: flex;
    padding: 1%;
    margin-top: 10vh;
}

.imgProjet {
    width: 30%;
}

.imgProjet img {
    width: 100%;
    margin: 1%;
    border-radius: 10px
}

.txtProjet {
    width: 70%;
    color: #fff;
    margin-left: 2%;
    max-width: 60%;
}

.txtProjet a {
    text-decoration: none;
    color: white;
}

.txtProjet a:hover {
    color: beige;
    text-decoration: underline;
}


/* Page de projet */

.imageTitle {
    width: 100vw;
    height: 40vh;
}

.imageTitle img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.imageTitle .title {
    width: 100vw;
    height: 40vh;
    position: absolute;
    top: 0;
    z-index: 5;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
}

.imageTitle .title h1 {
    text-align: center;
    transform: translateX(-50%), translateY(-50%);
    margin-top: 15vh;
}

.mainProjet {
    display: flex;
    margin-top: 5vh;
}

.specTechnique {
    width: 30vw;
    margin-left: 1vw;
}

.icon {
    width: 8vw;
}

.ligneVertical {
    border-left: 5px solid white;
    height: 50vh;
    display: block;
}

.ligneHorizontal {
    border-top: 5px solid white;
    width: 50vw;
    display: none;
}

.descProjFull {
    color: white;
    max-width: 50vw;
    margin-left: 5vw;
}

.descProjFull a {
    color: white;
}

.seeProject {
    background-color: white;
    color: black;
    border-radius: 10px;
    padding: 2vw;
    width: fit-content;
    margin: auto;
    transform: scale(1);
    transition-duration: 0.5s;
    transition-property: background-color, color, border, transform;
}

.seeProject:hover {
    background-color: black;
    color: white;
    border: 1px solid white;
    transform: scale(1.2);
    transition-duration: 0.5s;
    transition-property: background-color, color, border, transform;
}

.linkToProject {
    text-decoration: none;
}

.seeSocial {
    background-color: black;
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    padding: 2vw;
    width: fit-content;
    margin: auto;
    transform: scale(1);
    transition-duration: 0.5s;
    transition-property: background-color, color, border, transform;
}

.seeSocial:hover {
    background-color: white;
    color: black;
    transform: scale(1.2);
    transition-duration: 0.5s;
    transition-property: background-color, color, border, transform;
}

.linkToSocial {
    text-decoration: none;
}

footer {
    margin-bottom: 10vh;
    margin-top: 2vh;
    display: flex;
    justify-content: space-around;
}


/* page about */

.navAbout {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    background-color: none;
    padding: 1vw;
}

.navAbout img {
    width: 5vw;
    height: auto;
}

.navAbout .navLink {
    color: white;
    text-decoration: none;
}

.navAbout ul li a {
    color: white;
    text-decoration: none;
}

.firstLook {
    display: flex;
    justify-content: space-evenly;
    width: 70vw;
    margin-top: 10vw;
}

.name {
    color: white;
}

.name p {
    color: white;
    font-size: 5rem;
    mix-blend-mode: exclusion;
}

.image img {
    width: 35vw;
    position: absolute;
}

.titleSection {
    text-align: center;
    font-size: 3rem;
    font-style: bold;
    color: white;
}

.career {
    margin-top: 20vw;
    color: white;
    text-align: center;
    font-size: 2rem;
}

.contact {
    margin-top: 20vw;
}

.contact ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
}

.contactIcon {
    width: 5vw;
    transition-property: transform;
    transition-duration: 0.5s;
}

.contactIcon:hover {
    transform: scale(1.5);
    transition-property: transform;
    transition-duration: 0.5s;
}

@media screen and (max-width:950px) {
    .domaine {
        width: 40vw;
        margin: auto;
    }
    .firstLook {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 10vw;
    }
    .image img {
        width: 40vw;
    }
    .career {
        margin-top: 30vw;
    }
}

@media screen and (max-width:750px) {
    .navHome img {
        width: 6vw;
        height: auto;
    }
    .navProject img {
        width: 6vw;
        height: auto;
    }
    .navAbout img {
        width: 6vw;
        height: auto;
    }
    .projets {
        margin: auto;
    }
    .descProject {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .mainProjet {
        flex-direction: column;
        align-items: center;
    }
    .specTechnique {
        display: flex;
        width: 70vw;
        justify-content: space-around;
    }
    .ligneVertical {
        display: none;
    }
    .ligneHorizontal {
        margin-top: 10vw;
        display: block;
    }
    .descProjFull {
        margin-top: 10vw;
        width: 70vw;
        margin-left: 0;
    }
}

@media screen and (max-width:550px) {
    .navHome img {
        width: 8vw;
        height: auto;
    }
    .navProject img {
        width: 8vw;
        height: auto;
    }
    .navAbout img {
        width: 8vw;
        height: auto;
    }
    .domaine {
        display: flex;
        justify-content: space-around;
        width: 80vw;
    }
    .name p {
        font-size: 4rem;
    }
    .image img {
        position: relative;
        width: 60vw;
    }
    .titleSection {
        font-size: 2rem;
    }
    .career {
        font-size: 1rem;
    }
}